body {
  margin: 0;
  color: rgb(57, 73, 107);
  background-color: rgb(255, 240, 245);
  font-family: Radio Canada Big, Arial, Helvetica, sans-serif;
}

/*=======================TYPOGRAPHY==========================*/

h2 {
  font-weight: 600;
}

p {
  font-size: 1.25rem;
}

.subtitle {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 0.8rem;
}

span {
  color: rgb(255, 119, 157);
  font-weight: 600;
}

/*==========================MAIN============================*/

.main-container {
  width: 80%;
  margin: 1.5em auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: #DAE8FF;
}

/*------------------HEADER--------------------*/

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(149, 198, 255);
  padding-top: 0.25em;
}

.logo {
  margin: 0 0.5em;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0.75em 0;
}

nav li {
  margin: 0 1em;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  cursor: pointer;
}

nav li::after {
  content: '';
  background-color: rgb(255, 119, 157);
  width: 0;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -4px;
  border-radius: 3px;
  transition: 0.2s;
}

nav li:hover::after {
  width: 100%;
}

nav a {
  text-decoration: none;
  color: rgb(57, 73, 107);
}

/*-------------------HOME------------------*/

.home-container {
  position: relative;
}

.home-container img {
  width: 100%;
}

.content-options {
  position: absolute;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  background-color: white;
  opacity: 0.8;
  transition: 0.4s;
}

.active-content-options {
  height: 23.7%;
}

.content-li {
  visibility: hidden;
  list-style: none;
  color: rgb(57, 73, 107);
  padding: 0.2em;
  cursor: pointer;
}

.active-content-li {
  visibility: visible;
}

.content-options li:hover {
  background-color: rgb(149, 198, 255);
  color: white;
}

.content-options a {
  text-decoration: none;
  color: rgb(57, 73, 107);
}

/* APA PERBEDAAN ALERGI SUSU SAPI DAN LAKTOSA INTOLERAN (APASSDLI) */

#apassdil {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.apassdil-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.apassdil-container-2 span {
  color: rgb(255, 119, 157);
  font-weight: 600;
}

.p1 {
  width: 100%;
}

.apassdil-container-2 p {
  width: 46%;
  color: white;
  background-color:rgb(76, 100, 152);
  padding: 0.7em;
  border-radius: 10px;
}

/* APA PENYEBAB ALERGI SUSU SAPI (APASS) */

#apass {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

/* APA PENYEBAB INTOLERANSI LAKTOSA (APIL) */

#apil {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

#apil p {
  margin-top: 0;
}

.apil-container {
  margin-bottom: 3rem;
}

/* REAKSI KIMIA (RK) */

#rk {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

/* CARA MENGATASI ALERGI SUSU SAPI DAN INTOLERANSI LAKTOSA (CMASSDIL) */

#cmassdil {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.cmassdil-container-1 {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.cmassdil-flex-left {
  width: 69%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cmassdil-flex-right {
  width: 29%;
}

.cmassdil-flex-1 {
  height: 47.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cmassdil-flex-2 {
  height: 47.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cmassdil-flex-3 {
  display: flex;
  flex-direction: column;
}

.cmassdil-solusi {
  color: white;
  background-color: rgb(76, 100, 152);
  padding: 1em;
  border-radius: 10px;
}

.solusi-left {
  width: 44.5%;
  height: 370px;
}

.solusi-center {
  width: 44.5%;
  height: 370px;
}

.cmassdil-p-title {
  margin: 0;
  font-size: 1.5rem;
  color: rgb(255, 119, 157);
  font-weight: 600;
}

.cmassdil-p-subtitle {
  margin: 0;
}

.cmassdil-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.solusi-left-2 {
  width: 46%;
}

.solusi-right-2 {
  width: 46%;
}

/* -------------SUMBER-------------*/

#sumber {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

#sumber p {
  display: inline-block;
}

.material-icons.src-icon {
  color: white;
  font-size: 48px;
  background-color: rgb(76, 100, 152);
  padding: 0.2em;
  border-radius: 33.6px;
  margin-right: 0.3em;
  transition: 0.3s;
}

.material-icons.src-icon:hover {
  color: rgb(255, 119, 157);
  transform: scale(1.1);
}


/* --------------------------ABOUT US------------------------ */

#about-us {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.about-us-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2em;
}

.about-us-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.about-us-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us-img {
  width: 38%;
  border-radius: 20px;
  overflow: hidden;
}

.about-us-img img {
  width: 100%;
}

.lee-devin-desc {
  margin-top: 9rem;
  width: 58%;
  text-align: justify;
}

.lee-devin-desc h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.mika-desc {
  margin-top: 9rem;
  width: 58%;
  text-align: justify;
}

.mika-desc h2 {
  font-size: 2rem;
  margin-bottom: 0;  
  text-align: right;
}

/* --------------------CONTACT----------------- */

#contact {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.contact-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1em;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-subcontainer-1 {
  margin-right: 2em; 
}

.contact-subcontainer-2 {
  margin-left: 2em; 
}

.contact-name {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.contact-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-flex p {
  margin: 0;
}

.fa-instagram {
  font-size: 2rem;
  transition: 0.3s;
  margin-right: 0.2em;
}

.fa-instagram:hover {
  color:rgb(255, 119, 157);
  transform: scale(1.1);
}

.fa-envelope {
  font-size: 1.5rem;
  margin-right: 0.2em;
}